<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100vh;">
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="height: 100%;">
<div class="container">
    <div class="home-button">
        <a class="btn btn-secondary" th:href="@{/}" role="button">홈으로 이동</a>
    </div>
    <h2 style="margin-top: 100px;">로그인</h2>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <div class="register-button" style="margin-top: 20px;">
        <p><a th:href="@{/register}">회원가입 하세요!</a></p>
    </div>
</div>
</body>
<style>
    .login-container {
        margin-top: 30px;
    }
    .home-button {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .register-button {
        text-align: center;
    }
</style>
</html>
